.card {
  /* border: red 1px solid; */
  /* height: 300px; */
  width: 133px;
}
.emblaSlide {
  flex: 0 0 20%;
  min-width: 0;
  flex-grow: 0;
}
.img {
  height: 233px;
  width: 233px;
  background: hsl(237, 29%, 17%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
.title {
  font-size: 14px;
  color: white;
  margin: 0;
}
.author {
  margin: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #cf8163;
}
.number {
  font-size: 15px;
  margin: 0 10px;
  color: #c3dfebcc;
  text-align: center;
}
.headerWrap {
  display: flex;
  padding-top: 8px;
}
.link {
  /* border: 1px solid red; */
  width: fit-content;
  display: block;
}
.truncate {
  overflow: hidden;
  width: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.truncate-multi-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (max-width: 981px) {
  .emblaSlide {
    flex: 0 0 30%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}
@media (max-width: 630px) {
  .emblaSlide {
    flex: 0 0 40%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}
@media (max-width: 490px) {
  .emblaSlide {
    flex: 0 0 50%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}
